body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,  #7bbfff, #c98bff );
    color: #333;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #fff;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
.input {
  background-color: #212121;
  max-width: 230px;
  height: 30px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  color: #ffffff;
}

.input:focus {
  color: #e3b2ff;
  background-color: #212121;
  outline-color: #e3b2ff;
  box-shadow: -3px -3px 15px #e3b2ff;
  transition: .1s;
  transition-property: box-shadow;
}

button {
    --bg: #ffad99;
    --text-color: #fff;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #f59887 0px 7px 2px, #000 0px 8px 5px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  button:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

/* From Uiverse.io by Pradeepsaranbishnoi */ 
.🤚 {
    --skin-color: #f5d7c6;
    --tap-speed: 0.6s;
    --tap-stagger: 0.1s;
    position: relative;
    width: 80px;
    height: 60px;
    margin-left: 80px;
  }
  
  .🤚:before {
    content: '';
    display: block;
    width: 180%;
    height: 75%;
    position: absolute;
    top: 70%;
    right: 20%;
    background-color: black;
    border-radius: 40px 10px;
    filter: blur(10px);
    opacity: 0.3;
  }
  
  .🌴 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--skin-color);
    border-radius: 10px 40px;
  }
  
  .👍 {
    position: absolute;
    width: 120%;
    height: 38px;
    background-color: var(--skin-color);
    bottom: -18%;
    right: 1%;
    transform-origin: calc(100% - 20px) 20px;
    transform: rotate(-20deg);
    border-radius: 30px 20px 20px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .👍:after {
    width: 20%;
    height: 60%;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -8%;
    left: 5px;
    border-radius: 60% 10% 10% 30%;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
  }
  
  .👉 {
    position: absolute;
    width: 80%;
    height: 35px;
    background-color: var(--skin-color);
    bottom: 32%;
    right: 64%;
    transform-origin: 100% 20px;
    animation-duration: calc(var(--tap-speed) * 2);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(10deg);
  }
  
  .👉:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 30px;
    background-color: var(--skin-color);
    bottom: 8%;
    right: 65%;
    transform-origin: calc(100% - 20px) 20px;
    transform: rotate(-60deg);
    border-radius: 20px;
  }
  
  .👉:nth-child(1) {
    animation-delay: 0;
    filter: brightness(70%);
    animation-name: tap-upper-1;
  }
  
  .👉:nth-child(2) {
    animation-delay: var(--tap-stagger);
    filter: brightness(80%);
    animation-name: tap-upper-2;
  }
  
  .👉:nth-child(3) {
    animation-delay: calc(var(--tap-stagger) * 2);
    filter: brightness(90%);
    animation-name: tap-upper-3;
  }
  
  .👉:nth-child(4) {
    animation-delay: calc(var(--tap-stagger) * 3);
    filter: brightness(100%);
    animation-name: tap-upper-4;
  }
  
  @keyframes tap-upper-1 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.4);
    }
  
    40% {
      transform: rotate(50deg) scale(0.4);
    }
  }
  
  @keyframes tap-upper-2 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.6);
    }
  
    40% {
      transform: rotate(50deg) scale(0.6);
    }
  }
  
  @keyframes tap-upper-3 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.8);
    }
  
    40% {
      transform: rotate(50deg) scale(0.8);
    }
  }
  
  @keyframes tap-upper-4 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(1);
    }
  
    40% {
      transform: rotate(50deg) scale(1);
    }
  }

  .container {
    position: fixed; /* 페이지 상단에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000; /* 다른 요소 위에 위치 */
    pointer-events: none; /* 페이지의 다른 요소들과 충돌하지 않도록 설정 */
}

.bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
}

.bubble:nth-child(3) {
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
}

.bubble:nth-child(4) {
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
}

.bubble:nth-child(5) {
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
}

@keyframes animate_4010 {
    0%,100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}

.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}

.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}

.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}
  